@font-face {
  font-family: 'Neue Montreal';
  src: url('/public/fonts/NeueMontreal-Light.woff2') format('woff2'),
    url('/public/fonts/NeueMontreal-Light.woff') format('woff');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/public/fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('/public/fonts/NeueMontreal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/public/fonts/NeueMontreal-Medium.woff2') format('woff2'),
    url('/public/fonts/NeueMontreal-Medium.woff') format('woff');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/public/fonts/NeueMontreal-Bold.woff2') format('woff2'),
    url('/public/fonts/NeueMontreal-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: initial;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Neue Montreal', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  background: white;
  overscroll-behavior: none;
  pointer-events: none;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  user-select: none;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font: inherit;
  color: inherit;
  border: none;
  border-radius: none;
  background: none;
  outline: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

svg {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* ------------------------------  Layout */
main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5rem;
  overflow: hidden;
}

button {
  position: relative;
  font-size: 1.111vw;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  padding: 1.5rem 5.138vw;
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: black;
  border: 1px solid black;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
  pointer-events: all;
  cursor: pointer;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

button:hover {
  background-color: white;
  color: black;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover {
  background-color: black;
  color: white;
}

/* ------------------------------  Home */
.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.home-main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.home-main.is-active {
  .home-main__btn {
    top: inherit;
    bottom: 5rem;
    left: calc(11.805vw - 3rem);
    transform: translate(0, 0);
  }

  .home-main__media,
  .home-main__scoreBtn {
    display: inherit;
  }

  .home-main__wrapper h4 {
    display: inherit;
  }

  .home-main__boilerplate {
    display: flex;
  }
}

.home-main__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3rem;
  margin-right: 3rem;
  border-radius: 1rem;
  border: 1px solid black;
  background-color: white;

  h4 {
    display: none;
    font-size: 1.111vw;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}

.home-main__medias {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.home-main__media {
  display: none;
  width: 100%;
  height: 27rem;
  border-radius: 1rem;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.home-main__boilerplate {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 24rem;
  border-radius: 1rem;
  border: 1px solid #a1a1aa;

  h4 {
    font-size: 1.111vw;
    font-weight: 700;
    color: #a1a1aa;
    text-transform: uppercase;
  }

  p {
    color: #a1a1aa;
  }
}

.home-main__dices {
  width: 100%;
  margin-inline: auto;
  margin-top: 10rem;
}

.home-main__dices-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: fit-content;
  height: 7rem;
  margin-inline: auto;

  svg {
    width: auto;
    height: 100%;
  }
}

.home-main__pastry {
  font-size: 1.111vw;
  font-weight: 700;
  text-transform: uppercase;
}

.home-main__pastries {
  width: 100%;
  margin-inline: auto;
  margin-top: 10rem;
}

.home-main__pastries-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  height: 7rem;
  margin-inline: auto;
}

.home-main__pastry {
  font-size: 1.111vw;
  font-weight: 700;
  text-transform: uppercase;
}

.home-main__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
  z-index: 1;
}

.home-main__scoreBtn {
  display: none;
  position: absolute;
  bottom: 5rem;
  right: calc(13.888vw - 3rem);
  margin-top: 0;
  background-color: white;
  color: black;
}

.home-main__scoreBtn:hover {
  background-color: black;
  color: white;
}

.home-info {
  position: relative;
  display: flex;
  float: right;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  height: 100%;
}

.home-info__score {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 29.861vw;
  height: 20.291vw;
  padding: 3rem;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid black;
  pointer-events: all;
}

.home-info__score-label,
.home-info__lives-label {
  font-size: 1.111vw;
  font-weight: 700;
  text-transform: uppercase;
}

.home-info__score-title {
  font-size: 4.861vw;
  font-weight: 700;
}

.home-info__score-subtitle {
  font-size: 1.111vw;
}

.home-info__score-description {
  position: relative;
  font-size: 1.111vw;
  font-weight: 700;
  text-transform: uppercase;
}

.home-info__score-description:before {
  content: '';
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: 0.2;
}

.home-info__lives {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 29.861vw;
  height: 14.388vw;
  padding: 3rem;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid black;
  pointer-events: all;
}

.home-info__lives-medias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  img {
    width: 5.25vw;
    height: 5.25vw;
  }
}

.home-info__lives-medias.disable-1 {
  img:nth-of-type(1) {
    filter: grayscale(100%) blur(0.1rem);
    opacity: 0.3;
  }
}

.home-info__lives-medias.disable-2 {
  img:nth-of-type(1),
  img:nth-of-type(2) {
    filter: grayscale(100%) blur(0.1rem);
    opacity: 0.3;
  }
}

.home-info__lives-medias.disable-3 {
  img:nth-of-type(1),
  img:nth-of-type(2),
  img:nth-of-type(3) {
    filter: grayscale(100%) blur(0.1rem);
    opacity: 0.3;
  }
}

.home-info__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* ------------------------------  Nav */
.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.nav-logo {
  position: absolute;
  top: 5rem;
  right: 9.027vw;
  font-size: 2.777vw;
  font-weight: 700;
  text-transform: uppercase;
}

/* ------------------------------  Auth */
.auth {
  position: relative;
  width: 100%;
  height: 100vh;
  pointer-events: none;

  .auth-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 5rem 0;
  }

  .auth-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
      font-size: 3rem;
      font-weight: bold;
    }

    p {
      color: #a1a1aa;
      text-align: center;
      margin-top: 1rem;
      text-wrap: balance;
    }
  }

  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 35rem;
    margin-top: 2rem;

    input {
      display: flex;
      align-items: center;
      width: 100%;
      height: 3.2rem;
      font-size: 1.2rem;
      padding: 0.25rem 1rem;
      border-radius: 0.5rem;
      border: 1px solid #27272a;
      background-color: transparent;
      pointer-events: all;

      &::placeholder {
        color: #a1a1aa;
      }

      &:focus-visible {
        outline: 1px solid #fff;
      }
    }

    .auth-form__btn {
      width: fit-content;
      margin-bottom: 3rem;
      margin-inline: auto;
    }

    .auth-form__subBtn {
      position: relative;
      width: fit-content;
      margin-top: 1rem;
      margin-inline: auto;
      background-color: white;
      color: black;
    }

    .auth-form__subBtn:hover {
      background-color: black;
      color: white;
    }

    .auth-form__subBtn:before {
      content: '';
      position: absolute;
      top: -2rem;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 1px;
      background-color: #a1a1aa;
    }
  }

  .auth-error {
    font-size: 1.2rem;
    color: #ff0000;
    text-align: center;
    margin-top: 1rem;
  }

  .auth-footer {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    color: #a1a1aa;
    line-height: 1.4;
    text-align: center;
    padding: 0 2rem;
    margin-top: 2rem;
  }
}

/* ------------------------------  Winners */
.winners {
  display: flex;
  width: 100%;
  height: 100vh;
}

.winners-main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 100%;
  pointer-events: all;
}

.winners-main__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3rem;
  margin-right: 3rem;
  border-radius: 1rem;
  border: 1px solid black;
  background-color: white;

  h4 {
    display: none;
    font-size: 1.111vw;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}

.winners-main__title {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.winners-main__labels {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 20.833vw 1fr 1fr;
  margin-top: 5.5rem;

  :before {
    content: '';
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #a1a1aa;
    opacity: 0.2;
  }
}

.winners-main__label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #a1a1aa;
  text-transform: uppercase;
}

.winners-main__users {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.winners-main__user {
  display: grid;
  grid-template-columns: 1fr 20.833vw 1fr 1fr;
  font-weight: bold;
  margin-bottom: 1rem;
}

.winners-info {
  position: relative;
  display: flex;
  float: right;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  width: 30%;
  height: 100%;
}

.winners-info__btn {
  margin-top: 0;
}
